// API
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

// TYPOGRAPHY
$ff-Outfit:  "Outfit", sans-serif;
$ff-YoungSerif: "Young Serif", serif;;
$ff-Arial: Arial, Helvetica, sans-serif;

// COLORS
$clr-nutmeg: hsl(14, 45%, 36%);
$clr-darkRaspberry: hsl(332, 51%, 32%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-roseWhite: hsl(330, 100%, 98%);
$clr-eggshell: hsl(30, 54%, 90%);
$clr-lightGrey: hsl(30, 18%, 87%);
$clr-wengeBrown: hsl(30, 10%, 34%);
$clr-darkCharcoal: hsl(24, 5%, 18%);
