@import "./variables";
@import "./globals";
@import "./mixins.scss";


.container{
    border: 1px solid #ff0000;
    padding: 2rem;
    max-width: 680px;
    background-color: $clr-white;
    border-radius: 8px !important;
}

.recipe{

    hr{
        margin: 2rem 0rem;
    }

    &__image{
        border-radius: 8px !important;
    }

    &__title{
        padding: 20px 0px;
        font-family: $ff-YoungSerif;
        letter-spacing: 1.5px;
        font-size: 1.8rem;
    }

    &_insight{
        font-size: 1rem;
        color: $clr-wengeBrown;
        font-family: $ff-Outfit;
    }

    &_preparation{
        padding: 1.5rem;
        background-color: $clr-roseWhite;
        margin: 1.7rem 0rem;


         h2{
            color: $clr-darkRaspberry;
            margin-bottom: 12px;
         }


         &--list{
            padding-left: 1rem;
            

            li{
                color: $clr-wengeBrown;
                text-indent: 12px;
                margin-bottom: 10px;
                b{
                    font-weight: bold;
                    font-family: $ff-Outfit;
                }

                &:last-child{
                    margin-bottom: 0px;
                }
            }
         }
    }

    &_ingredients{

        h2{
            font-family: $ff-YoungSerif;
            color: $clr-nutmeg;
            margin-bottom: 12px;
            letter-spacing: 1px;
        }

        &--list{
            padding-left: 1rem;
            

            li{
                text-indent: 12px;
                margin-bottom: 10px;
                color: $clr-wengeBrown;
                font-family: $ff-Outfit;
            }
        }
    }
    

    &_instruction{
        h2{
            
        }
    }
}